@keyframes animal {
    0% {
        transform:translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform:translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform:translate(-50%, -50%) rotate(360deg);
    }
}